#home {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#home-bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 95%;
    max-width: 500px;
}

#logo {
    width: 100%;
}

.btn-login {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
}

