.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.loader svg {
    height: 70px;
    display: block;
    margin: 0 auto;
}
.loader svg path {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
        color: #3e4095;
}
.loader svg path.path-7 {
    animation-delay: -1s;
}
.loader svg path.path-6 {
    animation-delay: -0.875s;
}
.loader svg path.path-5 {
    animation-delay: -0.75s;
}
.loader svg path.path-4 {
    animation-delay: -0.625s;
}
.loader svg path.path-3 {
    animation-delay: -0.5s;
}
.loader svg path.path-2 {
    animation-delay: -0.375s;
}
.loader svg path.path-1 {
    animation-delay: -0.25s;
}
.loader svg path.path-0 {
    animation-delay: -0.125s;
}

@keyframes pulse {
    0% {
        opacity: 0.1;
    }
    30% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.1;
    }
}

.avatar {
    width: 130px;
    height: 130px;
    object-position: top;
    object-fit: cover;
}

.player-status {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0 5px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}
.player-status.playing {
    background-color: var(--bs-success);
}


.player-status.injury {
    background-color: var(--bs-warning);
}

.player-status.retire {
    background-color: var(--bs-danger);
}